@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


h3 {
    font-family: "Nunito";
    color: blue;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: auto;
    background: linear-gradient(to bottom, rgb(62, 19, 105), white);
    font-family: Arial, sans-serif;
}

